//========================================
//===== ESTILOS DE LA SECCION ABOUT ======
//========================================
section.about {
    .section-heading {
        margin-bottom: 15px;
        h2 {
            margin-top: 0;
        }
        p {
            margin-bottom: 0;
        }
    }
    .about {
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 30px;
        h3 {
            font-size: 30px;
        }
        i {
            font-size: 80px;
            display: block;
            margin-bottom: 15px;
            background: -webkit-linear-gradient(to left, $theme-secondary, $theme-tertiary);
            background: linear-gradient(to left, $theme-secondary, $theme-tertiary);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .contenedor-principal {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
    }
    .foto {
        flex: 0 1 100%;
        margin-bottom: 1rem;
        // border: 1px solid #aaaaaa;
        .avatar {
            border-radius: 50%;
            height: 165px;
            width: 165px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        img {
            border: 6px solid lighten(#000, 20%);
            // float: left;
            // margin-right: 20px;
        }
    }
    .contenido {
        flex: 0 1 100%;
        margin-bottom: 1rem;
        h3 {
            text-align: center;
        }
        p {
            text-align: justify;
        }
    }
    @include tablet {
        .contenido p {
            text-align: center;
        }
    }
    @include desktop {
        .contenedor-principal {
            justify-content: space-between;
        }
        .foto {
            flex: 0 1 33%;
            .avatar {
                height: 240px;
                width: 240px;
            }
        }
        .contenido {
            flex: 0 1 66%;
            p {
                text-align: center;
            }
        }
    }
}